@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fafafa;
  color: #2b2b2b;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
}

.container {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex: 1;
  overflow: inherit;
}

footer {
  background: #166080;
  color: #fff;
  display: flex;
  flex: 1;
  font-size: 16px;
  height: 40px;
  justify-content: space-around;
  width: 100vw;
}

aside {
  background-color: #80c6e4;
  box-sizing: border-box;
  flex: 1;
  padding: 10px 25px;
}

.section {
  flex: 4;
  padding: 10px 60px 10px 20px;
}

article {
  padding: 5px;
}

.header1,
.header2 {
  background: #166080;
  color: #fff;
  display: flex;
  font-size: 20px;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 60px;
  list-style-type: none;
}

.header1 {
  flex: 1;
}

.nav {
  font-weight: bold;
  height: 20px;
  padding: 10px;
  text-align: center;
}

.header2 .icon6,
.header2 .icon7,
.header2 .icon8,
.header2 .icon9,
.header2 .icon10,
.header2 .icon11,
.header2 .icon12,
.header2 .icon13 {
  display: inline-block;
  background-size: 30px;
  filter: invert(100%);
  height: 30px;
  opacity: unset;
  width: 30px;
}

.footer-group {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.footer-group a {
  color: #fff;
  font-family: inherit;
  font-size: 20px;
  text-decoration: none;
  margin: 0px 10px;
}

.footer-github {
  background-image: url(/rsschool-cv/images/GitHub-Mark.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 45px;
  height: 45px;
}

.header1 a,
.header2 a {
  color: #fff;
  font-family: inherit;
  text-decoration: none;
}

.header1 a:hover,
.header2 a:hover,
.footer-group a:hover {
  color: #80c6e4;
}

.header1 a:visited,
.header2 a:visited,
.footer-group a:visited {
  color: none;
}

h1 {
  letter-spacing: 2px;
  word-spacing: 5px;
  margin: 15px 0px;
}

h2 {
  align-self: center;
  letter-spacing: 2px;
  word-spacing: 5px;
  margin: 10px 0px;
}

p {
  line-height: 25px;
  margin: 5px 15px;
}

aside p {
  white-space: nowrap;
}

a {
  color: #6767ab;
  font-family: inherit;
  text-decoration: none;
}

a:hover {
  color: #166080;
  text-decoration: underline;
}

a:visited {
  color: none;
}

a:active {
  font-weight: bold;
}

.info {
  align-items: center;
  display: flex;
  gap: 1em;
}

.foto {
  border-radius: 20px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  display: block;
  margin: 10px auto;
  width: 300px;
}

.logo {
  margin: 15px 0px;
  width: 120px;
}

.btn {
  background: #166080;
  border: none;
  border-radius: 5px;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.5);
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
  padding: 10px 15px;
}

.btn:hover {
  opacity: 0.7;
}

.list li {
  list-style-type: none;
  padding-left: 10px;
}

.list li:before {
  color: white;
  content: '•';
  font-size: 25px;
  list-style-position: outside;
  padding-right: 10px;
  vertical-align: middle;
}

.list2 li {
  line-height: 25px;
  list-style: inside;
  padding-left: 10px;
}

.name {
  flex: 1;
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}

.separation {
  border-bottom: 1px solid #80c6e4;
  padding-bottom: 5px;
  margin: 20px 0px;
}

.separation:last-child {
  border-bottom: none;
}

.form-row {
  display: flex;
  margin: 10px 0px;
  width: 100%;
}

.form label {
  display: flex;
  align-items: center;
  flex: 1;
  padding: 5px 0;
}

.form input {
  border: none;
  border-bottom: 1px solid rgb(128, 198, 228);
  box-sizing: border-box;
  color: #166080;
  font-family: inherit;
  flex: 3;
  padding: 5px;
  height: 40px;
}

.form textarea {
  border: none;
  border-bottom: 1px solid rgb(128, 198, 228);
  box-sizing: border-box;
  color: #166080;
  font-family: inherit;
  padding: 5px;
  width: 100%;
  margin-top: 10px;
}

.form input:focus,
.form textarea:focus {
  outline: 1px solid #166080;
}

.groupicons2 {
  border-bottom: 1px solid #166080;
  display: flex;
  justify-content: left;
  align-items: center;
  height: 50px;
}

.groupicons2 a {
  margin-left: 10px;
}

.groupicons2:last-child {
  border-bottom: none;
}

.groupicons3 {
  background-color: #fff;
  border-left: #166080 solid 5px;
  border-radius: 5px;
  display: flex;
  justify-content: left;
  margin-bottom: 10px;
}

.icon1 {
  align-self: center;
  background-image: url(/rsschool-cv/images/place-marker.png);
  background-position: center;
  background-size: 25px;
  flex-shrink: 0;
  height: 25px;
  margin: 5px;
  opacity: 0.8;
  width: 25px;
}

.icon2 {
  align-self: center;
  background-image: url(/rsschool-cv/images/info.png);
  background-position: center;
  background-size: 30px;
  border-radius: 50%;
  flex-shrink: 0;
  height: 20px;
  margin: 5px;
  opacity: 0.8;
  width: 20px;
}

.icon3 {
  align-self: center;
  background-image: url(/rsschool-cv/images/phone.png);
  background-position: center;
  background-size: 20px;
  flex-shrink: 0;
  height: 20px;
  margin: 5px;
  opacity: 0.8;
  width: 20px;
}

.icon4 {
  align-self: center;
  background-image: url(/rsschool-cv/images/emails.png);
  background-position: center;
  background-size: 20px;
  flex-shrink: 0;
  height: 20px;
  margin: 5px;
  opacity: 0.8;
  width: 20px;
}

.icon5,
.icon51,
.icon52,
.icon53 {
  align-self: center;
  background-position: center;
  background-size: 17px;
  flex-shrink: 0;
  height: 17px;
  margin: 5px;
  opacity: 0.8;
  width: 17px;
}

.icon5 {
  background-image: url(/rsschool-cv/images/telegram.png);
}

.icon51 {
  background-image: url(/rsschool-cv/images/GitHub-Mark.png);
}

.icon52 {
  background-image: url(/rsschool-cv/images/codepen.png);
}

.icon53 {
  background-image: url(/rsschool-cv/images/Untitled.png);
}

.icon6,
.icon7,
.icon8,
.icon9,
.icon10,
.icon11,
.icon12,
.icon13,
.icon14 {
  align-self: center;
  background-position: center;
  background-size: 40px;
  flex-shrink: 0;
  height: 40px;
  margin: 5px;
  opacity: 0.8;
  width: 40px;
}

.icon6 {
  background-image: url(/rsschool-cv/images/search-contacts.png);
}

.icon7 {
  background-image: url(/rsschool-cv/images/globe.png);
}

.icon8 {
  background-image: url(/rsschool-cv/images/skills.png);
}

.icon10 {
  background-image: url(/rsschool-cv/images/contact-us.png);
}

.icon11 {
  background-image: url(/rsschool-cv/images/briefcase.png);
}

.icon12 {
  background-image: url(/rsschool-cv/images/graduation-cap.png);
}

.icon13 {
  background-image: url(/rsschool-cv/images/course.png);
}

.icon14 {
  background-image: url(/rsschool-cv/images/female.png);
}

.icon15 {
  background-image: url(/rsschool-cv/images/navigation.png);
  background-position: center;
  background-size: 55px;
  flex-shrink: 0;
  height: 55px;
  margin: 5px 10px 5px 5px;
  opacity: 0.8;
  position: fixed;
  right: 0;
  top: 60px;
  width: 50px;
}

.lang {
  align-items: center;
  display: flex;
}

.lang1,
.lang2 {
  font-size: 65px;
  vertical-align: middle;
}

.lang2 {
  color: #fff;
}

@media screen and (max-width: 400px) {
  .foto {
    width: 250px;
  }
}

@media screen and (max-width: 630px) {
  aside {
    padding: 10px 60px 10px 25px;
  }

  main {
    flex-direction: column;
  }

  .header1 {
    display: none;
  }
}

@media screen and (min-width: 630px) and (max-width: 900px) {
  .header1 {
    display: none;
  }
}

@media screen and (min-width: 900px) {
  .header2 {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .info {
    flex-direction: column;
  }
}
